{% extends './shared/_template.htm' %} {% block content %}

<!-- Recepção -->
<section class="box features">
    <h2 class="major"><span>Recepção</span></h2>
    <div>
        <div class="row">
            <div class="3u 12u(mobile)">

                <!-- Feature -->
                <section class="box feature vencido">
                    <h3>Roberto</h3>
                    <p>
                        25/07/2017 <br> 10:40 <br> Fiumicino <br> <b>Vencido</b>
                    </p>
                </section>

            </div>
            <div class="3u 12u(mobile)">

                <!-- Feature -->
                <section class="box feature d0">
                    <h3>Roberto</h3>
                    <p>
                        25/07/2017 <br> 10:40 <br> Fiumicino <br> <b>Faltam 0 dias</b>
                    </p>
                </section>

            </div>
            <div class="3u 12u(mobile)">

                <!-- Feature -->
                <section class="box feature d1">
                    <h3>Roberto</h3>
                    <p>
                        25/07/2017 <br> 10:40 <br> Fiumicino <br> <b>Faltam 1 dias</b>
                    </p>
                </section>

            </div>
            <div class="3u 12u(mobile)">

                <!-- Feature -->
                <section class="box feature d2">
                    <h3>Roberto</h3>
                    <p>
                        25/07/2017 <br> 10:40 <br> Fiumicino <br> <b>Faltam 2 dias</b>
                    </p>
                </section>

            </div>
            <div class="3u 12u(mobile)">

                <!-- Feature -->
                <section class="box feature d3">
                    <h3>Roberto</h3>
                    <p>
                        25/07/2017 <br> 10:40 <br> Fiumicino <br> <b>Faltam 3 dias</b>
                    </p>
                </section>

            </div>
            <div class="3u 12u(mobile)">

                <!-- Feature -->
                <section class="box feature d4">
                    <h3>Roberto</h3>
                    <p>
                        25/07/2017 <br> 10:40 <br> Fiumicino <br> <b>Faltam 4 dias</b>
                    </p>
                </section>

            </div>
            <div class="3u 12u(mobile)">

                <!-- Feature -->
                <section class="box feature d5">
                    <h3>Roberto</h3>
                    <p>
                        25/07/2017 <br> 10:40 <br> Fiumicino <br> <b>Faltam 5 dias</b>
                    </p>
                </section>

            </div>
        </div>
    </div>
</section>

<!-- Residência -->
<section class="box features">
    <h2 class="major"><span>Residência</span></h2>
    <div>
        <div class="row">
            <div class="3u 12u(mobile)">

                <!-- Feature -->
                <section class="box feature d4">
                    <h3>Roberto</h3>
                    <p>
                        25/07/2017 <br> Barbarano Romano <br> <b>4 dias</b>
                    </p>
                </section>

            </div>
            <div class="3u 12u(mobile)">

                <!-- Feature -->
                <section class="box feature d4">
                    <h3>Roberto</h3>
                    <p>
                        25/07/2017 <br> Vetrala <br> <b>4 dias</b>
                    </p>
                </section>

            </div>
            <div class="3u 12u(mobile)">

                <!-- Feature -->
                <section class="box feature d4">
                    <h3>Roberto</h3>
                    <p>
                        25/07/2017 <br> San Giovani <br> <b>4 dias</b>
                    </p>
                </section>

            </div>
        </div>
    </div>
</section>

<!-- Não Renúncia -->
<section class="box features">
    <h2 class="major"><span>Não Renúncia</span></h2>
    <div>
        <div class="row">
            <div class="3u 12u(mobile)">

                <!-- Feature -->
                <section class="box feature d4">
                    <h3>Roberto</h3>
                    <p>
                        25/07/2017 <br> Barbarano Romano <br> <b>4 dias</b>
                    </p>
                </section>

            </div>
            <div class="3u 12u(mobile)">

                <!-- Feature -->
                <section class="box feature d4">
                    <h3>Roberto</h3>
                    <p>
                        25/07/2017 <br> Vetrala <br> <b>4 dias</b>
                    </p>
                </section>

            </div>
            <div class="3u 12u(mobile)">

                <!-- Feature -->
                <section class="box feature d4">
                    <h3>Roberto</h3>
                    <p>
                        25/07/2017 <br> San Giovani <br> <b>4 dias</b>
                    </p>
                </section>

            </div>
        </div>
    </div>
</section>

<!-- Passaporte -->
<section class="box features">
    <h2 class="major"><span>Passaporte</span></h2>
    <div>
        <div class="row">
            <div class="3u 12u(mobile)">

                <!-- Feature -->
                <section class="box feature d4">
                    <h3>Roberto</h3>
                    <p>
                        25/07/2017 <br> <b>4 dias</b>
                    </p>
                </section>

            </div>
            <div class="3u 12u(mobile)">

                <!-- Feature -->
                <section class="box feature d4">
                    <h3>Roberto</h3>
                    <p>
                        25/07/2017 <br> <b>4 dias</b>
                    </p>
                </section>

            </div>
        </div>
    </div>
</section>

{% endblock %} {% block script %}
<script src="{{url_for('static', filename='js/application/board.js')}}"></script>
{% endblock %}