<!-- Nav -->
<nav id="nav">
    <ul>
        <li class="{{currentBoard}}"><a href="/">Board</a></li>
        <li class="{{currentProspecto}}">
            <a href="/prospecto">Prospectos</a>
            <ul>
                <li><a href="/prospecto/novo">Novo</a></li>
                <li><a href="/prospecto/analise/0">Analise</a></li>
            </ul>
        </li>
        <li class="{{currentCliente}}"><a href="/cliente">Cliente</a></li>
        <li class="{{currentComune}}">
            <a href="/comune">Comune</a>
            <ul>
                <li><a href="/comune/novo">Novo</a></li>
            </ul>
        </li>
        <li class="{{currentResidencia}}">
            <a href="/residencia">Residencia</a>
            <ul>
                <li><a href="/residencia/novo">Novo</a></li>
            </ul>
        </li>
        <li class="{{currentAgenda}}"><a href="/agenda">Agenda</a></li>
    </ul>
</nav>