{% extends './shared/_template.htm' %} {% block content %}

<!-- Filtro -->
<section class="box features">
    <form id="prospectoSearch">
        <fieldset>
            <legend>Pesquisa</legend>
            <div class="row 50%">
                <div class="4u 12u(mobile)">
                    <label for="cognome">Cognome do Prospecto</label>
                    <input type="text" placeholder="digite o cognome" name="cognome" id="cognome" value="">
                    <label for="nome">Nome do Prospecto</label>
                    <input type="text" placeholder="digite o nome" name="nome" id="nome" value="">
                </div>
                <div class="4u 12u(mobile)">
                    <label for="colaborador">Colaborador</label>
                    <select id="colaborador" name="colaborador">
                                                <option value="">Todos</option>
                                                <option value="Arlindo">Arlindo</option>
                                                <option value="Mauro">Mauro</option>
                                                <option value="Califani">Califani</option>
                                                <option value="Outros">Outros</option>
                                            </select>
                    <label for="negociador">Negociador</label>
                    <select id="negociador" name="negociador">
                                                <option value="">Todos</option>
                                                <option value="Jadson">Jadson</option>
                                                <option value="Carolina">Carolina</option>
                                            </select>
                    <label for="ativo">Ativo</label>
                    <select id="ativo" name="ativo">
                                                <option value="">Todos</option>
                                                <option value="True">Sim</option>
                                                <option value="False">Não</option>
                                            </select>
                </div>
                <div class="4u 12u(mobile)">
                    <label>Cadastramento:</label>
                    <br> de:
                    <input type="date" name="data_inicial" id="data_inicial"> até:
                    <input type="date" name="data_final" id="data_final">
                </div>
            </div>
            <div class="buttons">
                <input type="button" value="Novo" onclick="location.href='/prospecto/novo';">
                <input type="reset" value="Limpar">
                <input type="submit" value="Pesquisar" id="btnSubmit">
            </div>
        </fieldset>
    </form>
</section>

<!-- GRID -->
<section class="box features">
    <table class="default">
        <thead>
            <tr>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Ativo</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</section>
{% endblock %} {% block script %}
<script src="{{url_for('static', filename='js/application/prospecto.js')}}"></script>
{% endblock %}