{% extends './shared/_template.htm' %} {% block content %}

<!-- Form -->
<section class="box features">
    {% if residencia %}
    <h2>Edição</h2>
    {% else %}
    <h2>Novo</h2>
    {% endif %}
    <form id="residenciaForm">
        <div class="row 50%">
            <div class="4u 12u(mobile)">
                {% if residencia %}
                <span id="_id" hidden>{{residencia["_id"]["$oid"]}}</span>
                <input type="hidden" name="vagas" value="{{residencia['vagas']}}">
                <input type="hidden" name="capacidade_old" value="{{residencia['capacidade']}}">
                <label>Endereço</label>
                <h2>{{residencia["endereco"]}}</h2>
                <label>Nome do comune</label>
                <h2>{{residencia["comune"]}}</h2>
                <label>Nome do proprietário</label>
                <input type="text" placeholder="digite o nome do proprietario aqui" name="nome_proprietario" id="nome_proprietario" value="{{residencia['nome_proprietario']}}">
                <label>Telefone do proprietário</label>
                <input type="text" placeholder="digite o telefone do proprietario aqui" name="telefone_proprietario" id="telefone_proprietario" value="{{residencia['telefone_proprietario']}}">
                <label>Capacidade</label>
                <input type="number" placeholder="digite a capacidade aqui" name="capacidade" id="capacidade" min="1" value="{{residencia['capacidade']}}">
                <label>Quantidade de Camas</label>
                <input type="number" placeholder="digite a quantidade aqui" name="camas" id="camas" min="1" value="{{residencia['camas']}}">
                <label>Tipo de Gás</label> {% if residencia["tipo_gas"] == "bombola" %}
                <br><input type="radio" name="tipo_gas" id="tipo_gas" value="bombola" checked="checked"> Bombola
                <br><input type="radio" name="tipo_gas" id="tipo_gas" value="encanado"> Encanado<br> {% else %}
                <br><input type="radio" name="tipo_gas" id="tipo_gas" value="bombola"> Bombola
                <br><input type="radio" name="tipo_gas" id="tipo_gas" value="encanado" checked="checked"> Encanado<br> {% endif %}
                <label>Dia de vencimento do aluguel</label>
                <input type="number" placeholder="digite o dia aqui" name="vencimento_aluguel" id="vencimento_aluguel" min="1" max="31" value="{{residencia['vencimento_aluguel']}}">
                <label>Quantidade de Quartos</label>
                <input type="number" placeholder="digite a quantidade aqui" name="quartos" id="quartos" min="1" value="{{residencia['quartos']}}"> {% if residencia["ativo"] == "True"%}
                <input type="checkbox" name="ativo" id="ativo" checked="checked"> <label for="ativo">Ativo</label> {% else %}
                <br> <input type="checkbox" name="ativo" id="ativo"> <label for="ativo">Ativo</label> {% endif %} {% else %}
                <label>Endereço</label>
                <input type="text" placeholder="digite o endereço aqui" name="endereco" id="endereco" value="">
                <label for="comune_select">Comune</label>
                <select id="comune_select" name="comune">
                                                <option value="">selecione o comune</option>
                                            </select>
                <label>Nome do proprietário</label>
                <input type="text" placeholder="digite o nome do proprietario aqui" name="nome_proprietario" id="nome_proprietario" value="">
                <label>Telefone do proprietário</label>
                <input type="text" placeholder="digite o telefone do proprietario aqui" name="telefone_proprietario" id="telefone_proprietario" value="">
                <label>Capacidade</label>
                <input type="number" placeholder="digite a capacidade aqui" name="capacidade" id="capacidade" value="" min="1">
                <label>Quantidade de Camas</label>
                <input type="number" placeholder="digite a quantidade aqui" name="camas" id="camas" value="" min="1">
                <label>Tipo de Gás</label>
                <br><input type="radio" name="tipo_gas" id="tipo_gas" value="bombola"> Bombola
                <br><input type="radio" name="tipo_gas" id="tipo_gas" value="encanado"> Encanado<br>
                <label>Dia de vencimento do aluguel</label>
                <input type="number" placeholder="digite o dia aqui" name="vencimento_aluguel" id="vencimento_aluguel" value="" min="1" max="31">
                <label>Quantidade de Quartos</label>
                <input type="number" placeholder="digite a quantidade aqui" name="quartos" id="quartos" value="" min="1"> {% endif %}
            </div>
        </div>

        <div class="buttons">
            <input type="button" value="Voltar" onclick="window.history.go(-1);">
            <input type="submit" value="Salvar">
        </div>
    </form>
</section>

{% endblock %} {% block script %}
<script src="{{url_for('static', filename='js/application/residencia.js')}}"></script>
{% endblock %}